{% extends 'base2.html' %}


{% block content %}
<div class="modal-1 second-page">
  
    <div class="modal-1 first-page">
        <div class="modal-body first-page">
          <div style="border-radius: 111px; padding:2px; float: right;margin-left: 51px;">
            <a href="{{ url_for('confirm')}}"><i class="fa-solid fa-circle-xmark fa-2x text-danger"></i></a>
        </div>
          <div class="div-block-24 first-page">
            <div class="text-block-18 first-page" style="margin-top: 151px;">
              <h3 class="justify-content-center">
              In 2 minutes find out what Cloud Provider suits your organizational needs best.
            </h3>
            </div>
          </div>
          <!-- <div class="div-block-21 first-page"> -->
            <a href="{{ url_for('prompt') }}">
            <div class="btn btn-light d-flex justify-content-center shadow-lg mt-3  py-2 text-secondary" style="border-color:#5a35c7; border-radius: 66px; padding:2px;margin-right : 81px; margin-left: 81px;" >
               START
            </div>
          </a> 
         
        </div>
      </div>
  </div>
{% endblock %}