{% extends 'base.html' %}

{% block content %}
<div class="modal-1 third-page">
  <div class="modal-body third-page"> 
    <div style="border-radius: 111px; padding:2px; float: right;margin-left: 51px;">
        <a href="{{ url_for('confirm')}}"><i class="fa-solid fa-circle-xmark fa-2x text-danger"></i></a>
        </div>
    <div class="div-block-24 third-page">
      <div class="text-block-18 second-page third">
        
        </div>
    </div>
    <div class="mb-5">
      <h4 class="justify-content-center   mb-3" style="margin-top:111px; margin-left: 51px; margin-right: 51px;">
         Select an option to get started
        </h4>
    {% for lists in query %}
    {% for queries in lists.answer1 %}
      <a href="{{ url_for('question3',question1_id=queries.id) }}" class=""style="text-decoration: none;" >
        <div class="btn btn-light d-flex justify-content-center shadow-sm mt-2 pt-2 " style="border-color:#5f36d9; border-radius: 66px; padding:2px; margin-top: 11px; margin-left: 51px; margin-right: 51px;" >     
            <p class="mx-1"> {{ queries.question }}</p>
        </div>
      </a>
    {% endfor %}
    {% endfor %}
    </div>
    
    <div class=" ml-3" style="float: left;">
        <a href="{{ url_for('question1')}}" type="submit" class="btn btn-light" style="border-radius: 51px;"  ><i class="fa-solid fa-angle-left fa-2x"></i></a>
      </div>
  </div>
</div>
{% endblock %}
