{% extends 'base.html' %}

{% block content %}
<div class="modal-1 third-page">
  <div class="modal-body third-page"> 
    <div  style="border-radius: 111px; padding:2px; float: right;margin-left: 51px;">
      <a href="{{ url_for('confirm')}}"><i class="fa-solid fa-circle-xmark fa-2x text-danger"></i></a>
      </div>
    <div class="div-block-24 third-page">
      <div class="text-block-18 second-page third">
        
        </div>
    </div>
    <div class="mb-5">
      <h4 class="justify-content-center   mb-3" style="margin-top:111px; margin-left: 51px; margin-right: 51px;">
        Please indicate which of the following descriptions best applies to you. 
        </h4>
    
      <a href="{{ url_for('question1')}}" class="" style="text-decoration: none;">
        <div class="btn btn-light d-flex justify-content-center shadow-sm  pt-2 mt-5" style="border-color:#5f36d9; border-radius: 66px; padding:2px; margin-top: 11px; margin-left: 51px; margin-right: 51px;" >     
            <p class="mx-1">New to the cloud environment </p>
        </div>
      </a>
      <a href="{{ url_for('parent')}}" class="" style="text-decoration: none;">
        <div class="btn btn-light d-flex justify-content-center shadow-sm  pt-2 mt-2" style="border-color:#5f36d9; border-radius: 66px; padding:2px; margin-top: 11px; margin-left: 51px; margin-right: 51px;" >     
            <p class="mx-1"> Proficient in the cloud environment </p>
        </div>
      </a>
    </div>
    
    <div class=" ml-3" style="float: left;">
        <a href="{{ url_for('question1')}}" type="submit" class="btn btn-light" style="border-radius: 51px;"  ><i class="fa-solid fa-angle-left fa-2x"></i></a>
      </div>
  </div>
</div>
{% endblock %}
