{% extends 'base2.html' %}
<script>
  var myVar;

function myFunction() {
  myVar = setTimeout(function(){ alert("Hello"); }, 3000);
}

function myStopFunction() {
  clearTimeout(myVar);
}
</script>
{% block content %}
  <div class="modal-1 third-page">
    <div class="modal-body third-page">
      <div  style="border-radius: 111px; padding:2px; border: none; float: right;margin-left: 51px;">
        <a href="{{ url_for('confirm')}}"><i class="fa-solid fa-circle-xmark fa-2x text-danger"></i></a>
        </div>
      <div id='getInfo' class="shows" style="border: none; padding:2px;">
        <i class="fa-solid fa-circle-info fa-2x text-secondary"></i>
        <p class="yourTooltip" id="this">Please select two responses</p>
        <p class="abn text-light" id="this" >
            please select two responses
        </p> 
      </div>
      <div class="div-block-24 third-page">
        <div class="text-block-18 second-page third">
          
        </div>
        <form action="{{ url_for('child1') }}" method="POST" id="chp">
          <div class="">
          
            </div>
            <h4 class="justify-content-left" style="margin-left:51px ; margin-right: 41px;">
              What are two crucial considerations you think about when migrating to the cloud?</div>
              </h4>
              
    <div style="margin-left: 41px;margin-right: 41px;">
        {% for queries in query %}
        <div class="div-block-1 second-page _18">
      <div class="parent checkbox_option btn btn-light d-flex justify-content-center shadow-md text-center mt-2 pt-2 " style="border-color:#5f36d9; border-radius: 66px; padding:2px; " >     
      <p class="" for="queries.id">{{ queries.question }}</p>
          <span style="float:right" class="checkbox-group ml-2" id="hidden">
            <input class="acb" value="{{ queries.id }}" type="checkbox"  name="check"/>
          </span>
        </div>
      </div>
      {% endfor %} 
    </div>

      <div class="abc mt-2" style="float: right;" id="hide">
        <button type="submit" class="btn btn-light" id="chp" style="border-radius: 51px;" >
          <i class="fa-solid fa-angle-right fa-2x"></i>
        </button>
      </div>
      <div class="mt-2" style="float: left;">
        <a href="{{ url_for('prompt')}}" type="submit" class="btn btn-light" style="border-radius: 51px;"  ><i class="fa-solid fa-angle-left fa-2x"></i></a>
      </div>
      </div>
    
    </form>
    </div>
  </div>
{% endblock %}
